body{
    margin: 0;
    background-color: rgb(30, 30, 30);
}
main{
    margin-left: 250px;
    margin-right: 200px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(60, 60, 60);
    margin-top: 50px;
    display: flex;              
    flex-direction: column;     
    align-items: center;
}
.texto-caixa{
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.texto-link{
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;     
    transition: 0.2s;
}
.texto-link:hover{
    color: #00aaff; 
}
.texto-titulo{
    color: gray;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.caixa{
    width: 150px;
    height: 180px;
    gap: 20px;
    padding: 10px;
    display: flex;              
    flex-direction: column;     
    align-items: center; 
    background-color:  rgb(60, 60, 60);  
    border-radius: 10px;  
}
#rodape{
    width: 400px;
    height: 400px;
    display: flex;              
    flex-direction: column;     
    align-items: center; 
}